
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'" routerLinkActive="menu-active"> Home </a>
      <button mat-button [matMenuTriggerFor]="menu">Win Ratio</button>
      <mat-menu #menu="matMenu"  class="mat-menu-customized">
        <a mat-button [routerLink]="'/roles_wr/any'" routerLinkActive="menu-active">Any Players</a>
        <a mat-button [routerLink]="'/roles_wr/1'" routerLinkActive="menu-active">1 Player</a>
        <a mat-button [routerLink]="'/roles_wr/2'" routerLinkActive="menu-active">2 Players</a>
        <a mat-button [routerLink]="'/roles_wr/3'" routerLinkActive="menu-active">3 Players</a>
        <a mat-button [routerLink]="'/roles_wr/4'" routerLinkActive="menu-active">4 Players</a>
        <a mat-button [routerLink]="'/roles_wr/5'" routerLinkActive="menu-active">5 Players</a>
      </mat-menu>
      <a mat-button [routerLink]="'/roles_synergy'" routerLinkActive="menu-active"> Synergies </a>
    </div>
    <span class="toolbar-right-separator"></span>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value.guildId)">
      <mat-form-field floatLabel="never">
        <mat-label >Guild ID</mat-label>
        <input matInput formControlName = "guildId">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" disabled>Download Data</button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
