@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.button-active {
  color: yellow;
}
.id-search {
  margin-right: 10px;
}
.toolbar-right-separator {
  flex: 1 1 auto;
}
